<div>
	<div class="container layout__content">
		<ul class="nav nav-tabs">
			<li v-for="(type, index) in types" v-bind:class="{active: index == 0}" v-on:click="fetchFields(type)">
				<a :href="'#' + index" data-toggle="tab" class="link__button">{{ type.name }}</a>
			</li>
		</ul>
		<!-- CONTENT -->
		<div class="col-md-12 no__padding margin-top-10 tab-content tab-content--full_width">
			<!-- SINGLE POSTS -->
			<div class="card__table tab-pane" v-for="(type, index) in types" :id="index" v-bind:class="{active: index == 0}">
				<div class="col-md-12">
					<span class="entry__divider"></span>
					
					<!-- SINGLE POSTS -->
					<div class="layout__holder layout--auto-height" v-if="type.type == 'one'">
						<div class="layout__form" v-for="field in fields">
				            <div class="layout__input layout--modules col-md-12 no__padding-left ">
								<label class="layout__label">{{ field.label }}</label>
								<input type="text" v-if="field.type == 'text'" v-model="form[field.name][lang]">
								<!-- TEXTEDITOR -->
						      	<ckeditor  v-if="field.type == 'editor'" v-model="form[field.name][lang]" :config="config"></ckeditor>
						      	<!-- DATE -->
						      	<datepicker v-if="field.type == 'date'" v-model="form[field.name]" name="uniquename"></datepicker>
				            </div>

				            <!-- FILE UPLOADER -->
		            	  	<div v-if="field.type == 'file'" class="layout__input gallery--layout__input col-md-12 no__padding-left">
				            	<file-uploader :slug="field.name" :uploaded="form[field.name]" v-on:drop-success="showSuccessImage"></file-uploader>
			            	</div>
			            	<!-- GALLERY -->
		            	  	<div v-if="field.type == 'gallery'" class="layout__input gallery--layout__input col-md-12 no__padding-left">
				            	<gallery-uploader :slug="field.name" :uploaded="form[field.name]" :type_id="field.page_type_id" v-on:drop-success="showSuccess"></gallery-uploader>
			            	</div>
						</div>
					</div>
					<!--  -->
					<div class="layout__holder" v-if="type.type == 'many'">
					<!-- MANY POSTS -->
						<router-link class="visit__website add__new many--posts-button" :to="{name: 'manyentries', params: {manySlug: type.slug, manyId: type.id}}">Add New</router-link>
						<div class="card__table table--many-posts" v-sortable="{onEnd: reorder}">
							<div class="table__cell" v-for="entity in entities" :key="entity.id">
								<div class="col-md-9 table__td flex--display">
									<label>Slug:</label>
									<p>{{ entity.slugable.en }}</p>
								</div>
								<div class="col-md-3 table__td flex--display justify--end">
									<router-link class="table__actions" :to="{name: 'manyentries', params: {manySlug: type.slug, manyId: type.id, entityId: entity.id}}"><i class="fa fa-pencil"></i></router-link>
									<a href="javascript:void(0)" class="table__actions" v-on:click="deleteManyEntity(entity)"><i class="fa fa-trash"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right__content">
		<div class="right__navi" v-if="pageType.type == 'one'" :disabled="isSaving == true">
			<label></label>
			<div class="rest__content">
				<button class="save__content" v-on:click="storeDatas(form, pageType.slug);">
					<span v-if="isSaving == false">Save</span>
					<i v-if="isSaving" class="fa fa-circle-o-notch fa-spin"></i>
				</button>
			</div>
		</div>
		<div class="right__navi" v-if="pageType.type == 'one'">
			<label>Languages</label>
			<div class="rest__content language__holder">
				 <a v-for="language in languages" v-bind:class="{active: lang == language.key}"  v-on:click="changeLanguage(language.key)">{{ language.key }}</a>
			</div>
		</div>
		<div class="right__navi" v-if="pageType.slug !== undefined">
			<label>Type</label>
			<div class="rest__content">
				<p class="slug__info">{{ pageType.slug }}</p>
			</div>
		</div>
	</div>
</div>