// COLORS
$mainColor: #0768DE;
$block_title: #25374D;
$block_text: #8395a0;
$darkGrey: #95989A;
$mainBlack: #191717;
$lightGrey: #EEEEEE;
$homeHeader: #242B34;

// FONTS
$poppinsLight: 'PoppinsLight';
$poppinsRegular: 'PoppinsRegular';
$poppinsBold: 'PoppinsBold';
$segoe: 'Segoe UI';
$cinzel: 'CinzelDecorativeBold';

// CUBIC BEZIERS
$firstBezier: cubic-bezier(.4,1,1,1);

// BOX SHADOWS
$mainShadow: 0px 3px 36px 0px rgba(149,152,154,1);
$secondShadow: 0px 10px 36px 0px rgba(0,0,0,0.19);