@font-face {
    font-family: 'PoppinsBold';
    src: url('../fonts/PoppinsBold.eot');
    src: url('../fonts/PoppinsBold.eot') format('embedded-opentype'),
         url('../fonts/PoppinsBold.woff2') format('woff2'),
         url('../fonts/PoppinsBold.woff') format('woff'),
         url('../fonts/PoppinsBold.ttf') format('truetype'),
         url('../fonts/PoppinsBold.svg#PoppinsBold') format('svg');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../fonts/PoppinsLight.eot');
    src: url('../fonts/PoppinsLight.eot') format('embedded-opentype'),
         url('../fonts/PoppinsLight.woff2') format('woff2'),
         url('../fonts/PoppinsLight.woff') format('woff'),
         url('../fonts/PoppinsLight.ttf') format('truetype'),
         url('../fonts/PoppinsLight.svg#PoppinsLight') format('svg');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/PoppinsRegular.eot');
    src: url('../fonts/PoppinsRegular.eot') format('embedded-opentype'),
         url('../fonts/PoppinsRegular.woff2') format('woff2'),
         url('../fonts/PoppinsRegular.woff') format('woff'),
         url('../fonts/PoppinsRegular.ttf') format('truetype'),
         url('../fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');
}



@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SegoeUI.woff') format('woff'),
		url('../fonts/SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'CinzelDecorativeBold';
    src: url('../fonts/CinzelDecorativeBold.eot');
    src: url('../fonts/CinzelDecorativeBold.eot') format('embedded-opentype'),
         url('../fonts/CinzelDecorativeBold.woff2') format('woff2'),
         url('../fonts/CinzelDecorativeBold.woff') format('woff'),
         url('../fonts/CinzelDecorativeBold.ttf') format('truetype'),
         url('../fonts/CinzelDecorativeBold.svg#CinzelDecorativeBold') format('svg');
}
