<div>
	<!--	-->
	<a class="default__link custom--link" data-toggle="modal" data-target="#pagesModal">
		Add Page 	
	</a>
	<!--	-->
	<div class="table__cell" v-for="page in pages">
		<div class="col-md-3 table__td flex--display">
			<label>Name:</label>
			<p>{{ page.name.en }}</p>
		</div>
		<div class="col-md-3 table__td flex--display">
			<label>Slug:</label>
			<p>{{ page.slug }}</p>
		</div>
		<div class="col-md-3 table__td flex--display">
			<label>Parent:</label>
			<p v-if="page.parent_id == null">NONE</p>
		</div>
		<div class="col-md-3 table__td flex--display justify--end">
			<a v-on:click="findById(page)" class="default__link table__link" data-toggle="modal" data-target="#translateModal">Add Translate</a>
			<a v-on:click="findById(page)" data-toggle="modal" data-target="#pagesModal" class="table__actions"><i class="fa fa-pencil"></i></a>
			<a v-on:click="deleteObject(page)" class="table__actions"><i class="fa fa-trash"></i></a>
		</div>
		<!-- CHILDRENS -->
		<span class="children__divider" v-if="page.children.length > 1"></span>
		<div class="col-md-12 children__page" v-for="children in page.children">
			<div class="table__cell">
				<div class="col-md-3 table__td flex--display">
					<label>Name:</label>
					<p>{{ children.name.en }}</p>
				</div>
				<div class="col-md-3 table__td flex--display">
					<label>Slug:</label>
					<p>{{ children.slug  }}</p>
				</div>
				<div class="col-md-3 table__td flex--display">
					<label>Parent:</label>
					<p>{{ page.name.en }}</p>
				</div>
				<div class="col-md-3 table__td flex--display justify--end">
					<a v-on:click="findById(children)" class="default__link table__link" data-toggle="modal" data-target="#translateModal">Add Translate</a>
					<a v-on:click="findById(children)" data-toggle="modal" data-target="#pagesModal" class="table__actions"><i class="fa fa-pencil"></i></a>
					<a v-on:click="deleteObject(children)" class="table__actions"><i class="fa fa-trash"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Page PAGE -->
	<div class="modal fade" id="pagesModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Page</h4>
				</div>
				<div class="modal-body layout__holder layout--auto-height">
					<div class="layout__form">
						<div class="layout__input col-md-12">
							<label>Name</label>
							<input v-model="page.name" type="text">
							<span class="fields__error" v-if="errors.name !== undefined">{{ errors.name[0] }}</span>
						</div>
						<div class="layout__input col-md-12">
							<label>Slug</label>
							<input v-model="page.slug" type="text">
							 <span class="fields__error" v-if="errors.slug !== undefined">{{ errors.slug[0] }}</span>
						</div>
						<div class="layout__input col-md-12">
							 <label>Parent Page</label>
							 <select class="default__select" v-model="page.parent_id">
 								<option v-for="page in pages" v-bind:value="page.id">{{ page.name.en }}</option>
							 </select>
							 <!-- <span class="fields__error" v-if="errors.name !== undefined">{{ errors.parent[0] }}</span> -->
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="visit__website save__button cancel relative--position" data-dismiss="modal">Close</button>
					<button class="visit__website save__button relative--position" v-on:click="save(page)">Save</button>
				</div>
			</div>
		</div>
	</div>

	<!-- TRANSLATE PAGE -->
	<div class="modal fade" id="translateModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Translate</h4>
				</div>
				<div class="modal-body layout__holder layout--auto-height">
					<div class="col-md-6">
						<h3 class="add__translate-title">Language</h3>
					</div>
					<div class="col-md-6">
						<h3 class="add__translate-title">Name</h3>
					</div>
					<!--  -->
					<div class="translate__holder" v-for="(lang, key) in page.name">
						<div class="col-md-6">
							{{ key }}
							<!-- <input v-model="lang" disabled type="text"> -->
						</div>
						<div class="col-md-6">
							<input type="text" v-model="page.name[key]">
						</div>
					</div>
					<span class="translate__divider"></span>
<!-- 					<div class="translate__holder add--translate">
						<div class="col-md-6">
							<select v-model="page.key">
								 <option v-for="lang in languages" v-bind:value="lang.key">{{ lang.name }}</option>
							</select>
						</div>
						<div class="col-md-6">
							<input type="text" v-model="page.name">
						</div>
					</div> -->
				</div>
				<div class="modal-footer">
					<button class="visit__website save__button cancel relative--position" data-dismiss="modal">Close</button>
					<button class="visit__website save__button relative--position" v-on:click="saveTranslate(page)">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>