/* Let's get this party started */
body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff; 
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: #fff; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: #292b2c; 
    -webkit-box-shadow: inset 0 0 6px transparent ; 
}

